{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} home {% endblock %} </title>
    <link rel="stylesheet" href="{% static 'css/style_home.css' %}">
    <link rel="stylesheet" href="{%static 'css/nav.css'%}">
    {% block link %} {% endblock %}
</head>
<body {%block imagemFundo%} {% endblock %} >
    <header>
        <nav id="barra_de_navegacao">
            <a href="{% url 'agendar_form'%}"><button>agendar</button> </a>
            <a href= '#' > <button>desmarcar</button> </a>
            <a href="{%url 'horarios_exib'%}"><button>reuniões</button> </a>
            <a href="{%url 'servico_adm' %}"> <button>serviços</button> </a>
            <div id="login">
                {% if user.is_authenticated %}
                    <a href="#"><button><i>log-out</i></button></a>
                {% else %}
                    <a href="{%url 'login'%}"><button>login</button></a>
                {% endif %}
            </div>
        </nav>
    </header>

    <main>
        {% block content  %}

        {% endblock %}
    </main>

    <footer>
        
    </footer>
</body>
</html>