/* ==================== NAVBAR ==================== */
header {
  width: 100%;
  padding: 15px 0;
  position: fixed;
  top: 0;
  left: 0;
  margin-bottom: 20px;
  backdrop-filter: blur(1px);
  background: rgba(0, 0, 0, 0.25);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  z-index: 10;
}

nav#barra_de_navegacao {
  display: flex;
  justify-content: flex-end;
  gap: 20px;


}

nav#barra_de_navegacao button {
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.6);
  color: #fff;
  padding: 8px 15px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
  font-size: 24px;
}

nav#barra_de_navegacao button:hover {
  background: rgba(255, 255, 255, 0.15);
  transform: scale(1.05);
}

div#login button{
  margin-left: 30px;
  margin-right: 15px;
  height: 50px;
  border: solid;
}