{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="{% static 'css/style_home.css' %}">
    <link rel="stylesheet" href="{%static 'css/nav.css'%}">
</head>
<body>
    <header>
        <nav id="barra_de_navegacao">
            <button>agendar</button>
            <button>desmarcar</button>
            <button>reuniões</button>
            <button>serviços</button>
            <div id="login">
                <button><i>login</i></button>
            </div>
        </nav>
    </header>

    <main>
        <div id="conteudo-1">
        <p>aqui você vai poder agendar o melhor cerviço de qualidade </p>
        <button>agendar</button>
        </div>
    </main>

    <footer>
        
    </footer>
</body>
</html>